*.lo[a,f,g,l,t,o]
*.nlo
*.aux
*.var
*.log
*.run.xml

*.fdb_latexmk
*.fls

*.bib.bak
*.bib.sav

# Editor
*.sw[op]
*~
_region_.tex
*.input.pdf
comment.cut
*.bak


*.prv
*.acn
*.acr
*.alg
*.bcf
*.pdf
*.toc
*.bbl
*.blg
*.glo
*.ist
*.out
*.glg
*.gls

*.auxlock
*.xdv
*.dpth
*.md5
_minted-*/
*-SAVE-ERROR
*.dep

*.synctex*
*.sbl
*.ilg
*.nls
*.sym
*.nlg
